.collection-navbar {
  display: flex;
  padding: 0 1rem;
  border-bottom: 1px solid lightgrey;
}

.collection-tab {
  color: grey;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0rem 0rem;
}

@media screen and (min-width: 750px) {
  
}